<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sora">

<link rel="stylesheet" href="index.css">



<title>Spotify Mind Reader</title>
</head>
<body>

<h1>Spotify Mind Reader</h1>
<p>Spotify algorithm doesn't understand you? We do. Generate playlists based on your hyper-specific mood. Whether you're going through a break-up, found your dream job or whatever, we've got a playlist for you.</p>
<button type="button" onclick="onClick()">Log-In With Spotify</button>


<script>

    var page1 = "callback";

    async function onClick(){

        baseUrl = window.location.href;

        
        const res = await fetch(baseUrl +"login", {
            method : "GET"
        })

        const data = await res.json();

        var redirect_uri = window.location.origin + "/" + page1 ;
        var url = data.url;

        var urlReplace = url.replace("CALLBACK", window.location.origin + "/" + page1);
        window.location.href = urlReplace; // Show Spotify's authorization screen

    }




</script>
</body>
</html>