<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sora">

<link rel="stylesheet" href="page3.css">



<title>Spotify Mind Reader</title>
</head>
<body onload="onLoad()">

<h1>Welcome To Your New Playlist.</h1>
<p id="summary"> </p>
<div id="embed"> </div>


<button type="button" id="restart" onclick="restart()">Create A New Playlist</button>

<script> 

const PLAYLISTLINK1 = "https://open.spotify.com/embed/playlist/";
const PLAYLISTLINK2 = "?utm_source=generator";


var generated = false;

var baseUrl = window.location.href;

function restart(){
  window.location.href = '../';
}




async function onLoad(){

    //get information to set paragraph text

    const res = await fetch(baseUrl +"/getInfo/" + localStorage.getItem("username") , 
    {
      method : "GET",
      headers: {
        "Content-Type":'application/json'
      }
    })
    const data = await res.json();
    var energyFloor = Math.floor(parseFloat(data.energy)*100);
    var valenceFloor = Math.floor(parseFloat(data.valence)*100);



    summary.innerText = `${energyFloor}% Energetic ${valenceFloor}% Cheerful, in the style of: ${data.artist} & ${data.genre}`





    //embed the playlist

    if(!generated){
        var playlistID = window.localStorage.getItem("playlistID");


        var embed = document.getElementById('embed');

        var embedlink = PLAYLISTLINK1 + playlistID + PLAYLISTLINK2;

        const playlist = document.createElement("iframe");
        playlist.setAttribute("style", "border-radius:12px");
        playlist.setAttribute("width", "100%");
        playlist.setAttribute("height", "380");
        playlist.setAttribute("frameborder", "0");
        playlist.setAttribute("allowfullscreen", "");
        playlist.setAttribute("allowfullscreen", "");
        playlist.setAttribute("allow", "autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture");
        playlist.setAttribute("loading", "lazy");
        playlist.setAttribute("src", embedlink);


        embed.appendChild(playlist);

        generated = true

    }

}

</script>

</body>
</html>
